<!DOCTYPE html>
<html>
    <head>
        <title>sudoLudo</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="splash.css">
    </head>
    <body>
        <div class="terminal">
            <div class="whiteTab"></div>
            <div class="scrollBar"></div>
            <div class = "game">

            <div class = "rectangle">
                <img src="images/logo.png" style = "width: 100%; height: 100%;" class="logoImg">
            </div>
            <form action = "/play" method="get">
                <button type="submit" class = "btn">Start a game</button>
            </form>
            <button type="button" class = "btn1">How to</button>
            <div class="rectangle hidden" id="howTo">Unfortunately, this version only supports 2 players</div>
            <button type= "button" class = "hidden-btn" id="howToButton">Close</button>

            
            <div class="grid-container">
                <div class="div1"> 
                    Games Initialized:
                    <% gamesInit = gamesInit - 1%>
                    <%= gamesInit %>
                </div>
                <div class="div2"> 
                    Ongoing Games:
                    <%= gamesOngoing%>
                </div>
                <div class="div3"> 
                    Players playing:
                    <%= gamesOngoing*2%>
                </div>
            </div>
            

            
            </div>
        </div>
        <script src = "javascripts/home.js" defer></script>
        <script src = "javascripts/screen.js" defer></script>
    </body>
</html>